%footer.footer
  .row
    .small-12.medium-6.large-5.columns

      %p.footer-links
        = link_to t('links.home'), '/index.html'
        = link_to t('links.projects'), '/projects.html'
        = link_to t('links.about'), '/about.html'
        = link_to 'Craft Academy', '//craftacademy.se', target: '_blank'

      %p.copywrite Copywrite Mikael Feher © 2016

    .small-12.medium-12.large-3.columns

      %p.about.subheader= t(:social_link_info)
      %ul.inline-list.social
        %a{href: 'mailto:mikael.feher@gmail.com?Subject=I%20saw%20your%20webpage', target: '_top'}
          %i.fi-mail
        %a{:href => 'https://se.linkedin.com/in/mikael-feher-79b324105', target: '_blank'}
          %i.fi-social-linkedin
        %a{:href => 'https://github.com/MikaelFeher', target: '_blank'}
          %i.fi-social-github
        %a{:href => 'https://twitter.com/feher77', target: '_blank'}
          %i.fi-social-twitter
