.about_me
  .row
    .small-12.medium-6.medium-offset-3.large-8.large-offset-2.columns
      %h1= t 'about.title'
      %p= t 'about.description'
      #skills
        %p= t 'about.skills_title'
        %ul
        - t('about.skills_list').each do |skill|
          %li= skill
        %p
        = t 'about.skills_end'
